.portfolio__container{
    

display:flex;
gap:5rem;
flex-direction: row;
align-items: center;
justify-content: center;
    
}
.responsive{
    margin-top: 10rem;
}
.portfolio__item >h3{

    
}
.portfolio__item{

    display:grid;
    justify-content: center;
        align-items: center;
    width:20rem;
    height:20rem;
    background:var(--color-bg-variant);
    padding:1rem;
    border-radius:2rem;
    border:1px solid transparent;
    transition: var(--transition);
    size:5rem;
    

 
}

.portfolio__item:hover{
    border-color:var(--color-primary-variant);
    background:transparent;
}

.item-image{
    width:7rem;
    height:7rem;
    overflow:hidden;
    opacity:0.8;
    position:static;
    

}

.portfolio__item h3{
    margin:1.2rem 0 2rem;
}
.portfolio__item-cta{
    display:flex;
    gap:1rem;
    margin-bottom: 1rem;
    align-items: center;

}
/*---------------------MEDIA QUERIES(MEDIUM SCREEN DEVICES)===========*/
@media screen and (max-width:1024px) {

    .portfolio__container {
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            -ms-flex-align: center;
        }
    
        .portfolio__item {
            display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                -ms-flex-align: center;
        }
        
}


/*---------------------MEDIA QUERIES(SMALL SCREEN DEVICES)===========*/
@media screen and (max-width:600px) {

    .services__container {
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        -ms-flex-align: center;
    }

        .portfolio__item {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            -ms-flex-align: center;
        }
}


