.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__option {
  display: inline-block;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  justify-content: center;
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

/*---------------------MEDIA QUERIES(MEDIUM SCREEN DEVICES)===========*/
@media screen and (max-width: 1024px) {
  .contact__container {
    display: block;
    margin-left: 3.5rem;
    width: var(--container-width-md);
  }
}
/*---------------------MEDIA QUERIES(SMALL SCREEN DEVICES)===========*/
@media screen and (max-width: 600px) {
  .contact__container {
    padding-right: 3.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-align: center;
  }
}
