.contact__container {
width: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left: 42%;

}
.contact__options{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    right:2rem;
}

.contact__option{
        display: inline-block;
    background:var(--color-bg-variant);
    padding:1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border:1px solid transparent;
    transition:var(--transition);
    justify-content: center;
}

.contact__option:hover{
    background:transparent;
    border-color: var(--color-primary-variant);
}

form{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    right:30%;
    align-content: flex-end;
    color:white;
}

input,textarea{
    width:100%;
    padding:1.5rem;
    border-radius: 0.5rem;
    background:transparent;
    border:2px solid var(--color-primary-variant);
    resize:none;
        color: white;
}

/*---------------------MEDIA QUERIES(MEDIUM SCREEN DEVICES)===========*/
@media screen and (max-width:1024px) {


    .contact__container {
        display:block;
      margin-left:4rem;
        width: var(--container-width-md);
    }       
}
/*---------------------MEDIA QUERIES(SMALL SCREEN DEVICES)===========*/
@media screen and (max-width:600px) {
.contact__container {
     width:var(--container-width-sm);
    
}
}